<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
    
    <!-- original
    height_TV:=1.12
    width_TV:=1.82
    -->

      <!-- bigger display
    height_TV:=1.25
    width_TV:=2.1
    -->
    
    <xacro:macro name="gantry_frame" params="
        use_fake_hardware:=false
        sim_gazebo:=false
        parent:=world
        enable_TV:=false
        height_gantry:=1.7
        width_gantry:=2.8
        height_TV:=1.15
        width_TV:=2.1
        thickness_TV:=0.0005
        enable_tool_box:=false
        height_tool_box:=0.10
        width_tool_box:=0.11
        thickness_tool_box:=0.1
        support:=0.15
        right_offset:=0.30
        x_origin:=0.35
        y_origin:=0.21
        x_limit:=2.095
        y_limit:=0.391
        ">

      

       



      
    </xacro:macro>
</robot>
