<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_lab">
    <xacro:arg name="initial_positions_file" default="$(find gantry_description)/config/initial_positions.yaml" />

    <!-- Import robot_lab urdf file -->
    <xacro:include filename="$(find gantry_description)/urdf/robot_lab.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="robot_lab.ros2_control.xacro" />


    <xacro:robot_lab_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
